@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
	ViewBag.Title = Model?.Value("pageTitle") ?? null;

    var ceoImage = Model?.Value<IPublishedContent>("aboutCeoImage")?.Url() ?? "";

    var ratingImage = Model?.Value<IPublishedContent>("reviewsReviewImg")?.Url() ?? "";
    var reviewSectionImg = Model?.Value<IPublishedContent>("reviewSectionImg")?.Url() ?? "";

    var teamMemberImg1 = Model?.Value<IPublishedContent>("ourExpertsTeamImg1")?.Url() ?? "";
    var teamMemberImg2 = Model?.Value<IPublishedContent>("ourExpertsTeamImg2")?.Url() ?? "";
    var teamMemberImg3 = Model?.Value<IPublishedContent>("ourExpertsTeamImg3")?.Url() ?? "";
    var teamMemberImg4 = Model?.Value<IPublishedContent>("ourExpertsTeamImg4")?.Url() ?? "";
    var teamMemberImg5 = Model?.Value<IPublishedContent>("ourExpertsTeamImg5")?.Url() ?? "";
    var teamMemberImg6 = Model?.Value<IPublishedContent>("ourExpertsTeamImg6")?.Url() ?? "";
    var teamMemberImg7 = Model?.Value<IPublishedContent>("ourExpertsTeamImg7")?.Url() ?? "";
}

@if (!string.IsNullOrEmpty(ViewBag.Title)) {
    @await Html.PartialAsync("partials/static/breadcrumb.cshtml")
}

<div class="ceo-founder">
    <div class="container">
        <div class="content">
            <img src="@ceoImage" alt="@Model?.Value("aboutCeoImageText")">
            <p>@Model?.Value("aboutCeoImageText")</p>
        </div>
        <div class="content-info">
            <blockquote>@Model?.Value("aboutQuote")</blockquote>
            	<p>@Model?.Value("aboutPageContent")</p>
        </div>
    </div>
</div>

<div class="review">
    <div class="container">
        <div class="content">
            <span>@Model?.Value("reviewsSectionTitle")</span>
            <h2>@Model?.Value("reviewsSectionHeadline")</h2>
            <blockquote>@Model?.Value("reviewsContentText")</blockquote>
            <img src="@ratingImage" alt="">
            <p class="signature">@Model?.Value("reviewsPartnerName")</p>
            <p class="company">@Model?.Value("reviewsPartnerCompanyName")</p>
        </div>
        <div class="aside">
            <img src="@reviewSectionImg" alt="@Model?.Value("reviewsPartnerName")">
        </div>   
    </div> 
</div>

<div class="our-experts">
    <div class="container">
        <div class="headline">
            <span>@Model?.Value("ourExpertsSectionTitle")</span>
            <h2>@Model?.Value("ourExpertsSectionHeadline")</h2>
        </div>
        <div class="members">
                <div class="card-top">
                    <div class="card">
                        <a href="#">
                            <img src="@teamMemberImg1" alt="@Model?.Value("ourExpertsTeamImgHeadline1")">
                            <h4>@Model?.Value("ourExpertsTeamImgHeadline1")</h4>
                            <p>@Model?.Value("ourExpertsTeamImgText1")</p>
                        </a> 
                    </div>
                    <div class="card">
                        <a href="#">
                            <img src="@teamMemberImg2" alt="@Model?.Value("ourExpertsTeamImgHeadline2")">
                            <h4>@Model?.Value("ourExpertsTeamImgHeadline2")</h4>
                            <p>@Model?.Value("ourExpertsTeamImgText2")</p>
                        </a>
                    </div>
                    <div class="card">
                        <a href="#">
                            <img src="@teamMemberImg3" alt="@Model?.Value("ourExpertsTeamImgHeadline3")">
                            <h4>@Model?.Value("ourExpertsTeamImgHeadline3")</h4>
                            <p>@Model?.Value("ourExpertsTeamImgText3")</p>
                        </a>
                	</div>
                </div>
            <div class="card-bottom">
                <div class="card">
                    <a href="#">
                        <img src="@teamMemberImg4" alt="@Model?.Value("ourExpertsTeamImgHeadline4")">
                        <h4>@Model?.Value("ourExpertsTeamImgHeadline4")</h4>
                       <p>@Model?.Value("ourExpertsTeamImgText4")</p>
                    </a>
                </div>
                <div class="card">
                    <a href="#">
                        <img src="@teamMemberImg5" alt="@Model?.Value("ourExpertsTeamImgHeadline5")">
                        <h4>@Model?.Value("ourExpertsTeamImgHeadline5")</h4>
                        <p>@Model?.Value("ourExpertsTeamImgText5")</p>
                    </a> 
                </div>
                <div class="card">
                    <a href="#">
                        <img src="@teamMemberImg6" alt="@Model?.Value("ourExpertsTeamImgHeadline6")">
                        <h4>@Model?.Value("ourExpertsTeamImgHeadline6")</h4>
                        <p>@Model?.Value("ourExpertsTeamImgText6")</p>
                    </a>
                </div>
                <div class="card">
                    <a href="#">
                        <img src="@teamMemberImg7" alt="@Model?.Value("ourExpertsTeamImgHeadline7")">
                        <h4>@Model?.Value("ourExpertsTeamImgHeadline7")</h4>
                        <p>@Model?.Value("ourExpertsTeamImgText7")</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("static/contactInformation")